/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #6e6b6b;
}

header {
  background-color: #333;
  color: #6e6b6b;
  text-align: center;
  padding: 20px 0;
}

main {
  padding: 20px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;

  input[type="text"] {
    padding: 8px;
    margin-bottom: 10px;
  }

  /* common button design */
  button {
    padding: 10px 18px;
    background-color: #16b8e0;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #555;
    }
  }

  /* open model button */
  .open_modal {
    margin-top: 400px;
    border-radius: 8px;
  }

  /* next button */
  .nextButton {
    margin-top: -23px;
    margin-left: 500px;
    border-radius: 20px;
    padding: 10px;
    height: 40px;
    width: 75px;
  }

  /* create job button */
  .createButton {
    margin-top: -23px;
    margin-left: 500px;
    border-radius: 20px;
    padding: 10px;
    height: 40px;
    width: 90px;
  }
  
  .page-navigation {
    margin-top: 15px;
    margin-left: 250px;
  }

  /* main card design */
  .card-container-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 160px;
    border-radius: 8px;
    height: 500px;
    width: 600px;
    background-color: #ffffff;
  }

  .card-header {
    padding: 7px;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
  }

  .card-header1{
    font-size: 18px;
    margin-left: -20px;
  }

  .card-footer{
    height: 50px;
    width: 550px;
    border: 1px solid #ccc;
    border-radius: 0 0 20px 20px;
  }

  /* searchbar design */
  .searchBar {
    padding: 8px;
    width: 550px;
    height: 40px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 14px;
    box-sizing: border-box;
  }
  
  .card {
    display: none;
    height: 380px;
    /* width: 500px; */
    padding: 20px;
    margin: 10px;
  }

  #card2 {
    max-height: 500px;
    overflow-y: auto; 
    overflow-x: hidden;
  }

  #card2::-webkit-scrollbar {
    width: 0; 
    height: 0;
  }

/* table and pagination */
.clientTable {
  width: 550px;
  margin-top: 10px;
  border-radius: 20px 20px 0 0;
  border: 1px solid #ccc;
}

.clientTable th, .clientTable td {
  text-align: center;
  border-radius: 10px;
  padding: 8px;
}

.clientTable th {
  font-weight: bold;
}

/* Phases to copy design */
.clientTable1 {
  width: 550px;
  margin-top: 10px;
  border-radius: 15px 15px 0 0;
  border: 1px solid #ccc;
}

.clientTable1 td {
  border-radius: 10px;
  padding:10px;
  text-align: center;
}

.clientTable1 th {
  border-color: #000000;
  font-weight: bold;
  text-align: center;
}

/* pagination element design */
.pagination {
  margin: -30px 0 0 450px ;
  display: flex;
  padding: 3px;
}

.pagination-info {
  margin: 10px 0 0 340px ;
  display: flex;
  padding: 3px;
}

.paginationButton {
  width: 20px;
  height: 30px;
  background-color: #ffffff;
  color: #000000;

  &:hover {
    background-color: #ffffff;
  }
}

.pagination a {
  margin: 0 5px;
  text-decoration: none;
  cursor: pointer;
}

.pagination .active {
  font-weight: bold;
}

.templateSelect {
  padding: 8px;
  width: 550px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 14px;
  box-sizing: border-box;
}

.optionList {
  padding-top: 5px;
}

/* styles for the additional columns */
.additional-fields {
  display: flex;
  margin-top: 20px;
}

.additional-fields .column {
  flex: 2;
  padding-left: 10px;
}

.additional-fields .column .copy-column,
.additional-fields .column .includes-column {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  height:240px;
}

.additional-fields .column .copy-column label,
.additional-fields .column .includes-column label {
  display: block;
  margin-bottom: 5px;
  padding-left: 15px;
  padding-top: 10PX;
}

.phasesToCopy {
  padding-top: 10px;
}

/* checkbox design */
input[type="checkbox"] {
  transform: scale(1.5);
  width: 10px;
  height: 10px;
}

.extraOpt {
  margin-top: 50px;
  padding-left: 10px;
}

/* handler designs */
.handler {
  padding: 10px;
  margin-top: 30px;
}

.handler .handlerList{
  display: flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #a3a2a2;
  border-radius: 10px;
  width: auto;
  height: 100px;
}

.handler .handlerList .handlerlabel{
  padding: 10px;
}

}
